<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{%=title%}</title>
</head>
<body>
  <ul>
    <%list.forEach((item) => {%>
    	<li>
        <span>{%=item.name%}{%=item.age%}</span>
    	</li>
    <%})%>
  </ul>
  <script>
    window.onload = function() {
      alert('<%=title%>');
    }
  </script>
</body>
</html>