.errorWords {
	color: red;
}
.loading-page {
	position: relative;
	width: 100%;
	height: 200px;
}
.inputBox {
	position: relative;
}
.inputBoxBtn {
	position: absolute;
	right: 0;
}
.inputBoxBtn button, .inputBoxBtn button:hover, .inputBoxBtn button:active, .inputBoxBtn button:focus{
	float: right;
	border: none;
	background-color: transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.inputCheckBox {
	margin: -2px 10px 1px 0;
	vertical-align: middle;
}